<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.frameDesign.commonreslib">
    <!--文件写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--文件读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--文件写权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--访问网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--访问无限网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application>
        <!-- 安卓7.0后，读写文件需要配置共享且res文件下添加xml/file_paths.xml -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <!-- umeng接入支持START -->
        <!-- QQ -->
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信 此处微信配置，必须在项目包下创建文件，故此处配置在壳工程下AndroidManifest中 -->
        <!-- umeng接入支持END -->
    </application>
</manifest>
